Source: ros-testing-ament-cmake-ros
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-testing-ament-cmake, ros-testing-ament-lint-auto, ros-testing-ament-lint-common, ros-testing-domain-coordinator, ros-testing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-ament-cmake-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-testing-ament-cmake, ros-testing-ament-cmake-gmock, ros-testing-ament-cmake-gtest, ros-testing-ament-cmake-pytest, ros-testing-domain-coordinator, ros-testing-ros-workspace
Description: The ROS specific CMake bits in the ament buildsystem.
